{% extends "blogs/base.html" %}
{% load static %}
{% block content %}
    <section class="max-w-7xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition p-6">
        <article class="post-card bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition">
            <img src="{% static 'images/placeholder.jpg' %}" alt="Картинка поста" class="w-full h-10 object-cover">
            <div class="p-6">
                <form action="{% url 'blogs:addpost'%}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <button name="submit" class="inline-block bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 transition">Сохранить изменения</button>
                        <a href="{% url 'blogs:posts' %}" class="inline-block bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 transition">Назад</a>
                </form>
            </div>
        </article>
    </section>
{% endblock content %}